* {
    background-color: darkgoldenrod;
}

img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}